@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Libre+Franklin:wght@500;900&family=Noto+Sans+JP:wght@500&display=swap');

* {
    margin: 0px;
}

:root {
    --color1: #6B0009;
    --color2: #6B2026;
    --color3: #B8000F;
    --color4: #e6192a;
    --color5: #EE4755;
    --color6: #0F0F0F;
    --colorsp:#127FB8;

    --fonte-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte-titulo: 'League Gothic', sans-serif;
    --fonte-japao: 'Noto Sans JP', sans-serif;
    --fonte-nav: 'Libre Franklin', sans-serif;
}

body {
    background-color: var(--color6);
    font-family: var(--fonte-padrao);
    height: 500px;
    margin: auto;
}

header {
    background-image: linear-gradient(to top, var(--color4), var(--color5));
    color: var(--color6);
    text-align: center;
    min-height: 160px;
    
}

header > h1 {
    font-size: 5em;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: var(--fonte-titulo);
    text-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.377);;
    max-width: 650px;
    margin: auto;

}

header > p {
    font-size: 1.6em;
    font-family: var(--fonte-japao);
    margin: auto;
    max-width: 500px;
}

nav {
    background-color: var(--color4);
}

nav > a {
    font-family: var(--fonte-nav);
    font-size: 1.1em;
    font-weight: 900;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    color: var(--color6);
}

nav > a:hover{
    background-color: var(--color6);
    color: var(--color4);
    transition-duration: 0.2s;
}

main {
    background-color: #151515;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 15px;
    font-family: var(--fonte-padrao);
    box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.377);
}

main h1 {
    color: var(--color4);
    font-size: 1.5em;
}

main h2 {
    color: var(--color4);
    font-size: 1.3em;
}

main p {
    color: white;
    font-size: 1.1em;
    text-indent: 30px;
    line-height: 25px;
    text-align: justify;
}

main img {
    width: 100%;
    padding-top: 15px;
}

main strong {
    color: var(--color4);
}

.vermelho {
    color: var(--color3);
}

.azul{
    color: var(--colorsp);
} 

main a {
    text-decoration: none;
    color: var(--color5);
}

main a:hover {
    background-color: var(--color5);
    color: #151515;
}

footer {
    color: white;
    background-color: var(--color1);
    text-align: center;
}